
p {
  font-size: 0.9em;
}

div {
  text-align: justify;
  text-justify: inter-word;
}
.md-profile__description {
    text-align: start;
}

nav {
  text-align: start;
}

.md-ellipsis {
  text-align: start;
}

h1 {
  text-align: center;
}


blockquote {
  font-size: .6rem;
}

.md-grid {
  max-width: 1000px; 
}
